*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: purple;
    align-items: center;
}

header div{
    display: flex;
    gap: 25px;
}